<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestLocativeApp.locataire.home.title">Locataires</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-locataire" [routerLink]="['/locataire/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestLocativeApp.locataire.home.createLabel">
            Create a new Locataire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="locataires?.length === 0">
        <span jhiTranslate="gestLocativeApp.locataire.home.notFound">No locataires found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="locataires && locataires.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gestLocativeApp.locataire.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="gestLocativeApp.locataire.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="gestLocativeApp.locataire.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gestLocativeApp.locataire.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateNaissance"><span jhiTranslate="gestLocativeApp.locataire.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresseId"><span jhiTranslate="gestLocativeApp.locataire.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let locataire of locataires ;trackBy: trackId">
                    <td><a [routerLink]="['/locataire', locataire.id, 'view']">{{ locataire.id }}</a></td>
                    <td>{{ locataire.nom }}</td>
                    <td>{{ locataire.prenom }}</td>
                    <td>{{ locataire.email }}</td>
                    <td>{{ locataire.telephone }}</td>
                    <td>{{ locataire.dateNaissance | date:'medium' }}</td>
                    <td>
                        <div *ngIf="locataire.adresseId">
                            <a [routerLink]="['/adresse', locataire.adresseId , 'view']" >{{ locataire.adresseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/locataire', locataire.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/locataire', locataire.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(locataire)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="locataires && locataires.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
