<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="biens">
            <h2><span jhiTranslate="gestLocativeApp.biens.detail.title">Biens</span> {{ biens.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestLocativeApp.biens.estMeuble">Est Meuble</span></dt>
                <dd>
                    <span>{{ biens.estMeuble }}</span>
                </dd>
                <dt><span jhiTranslate="gestLocativeApp.biens.description">Description</span></dt>
                <dd>
                    <span>{{ biens.description }}</span>
                </dd>
                <dt><span jhiTranslate="gestLocativeApp.biens.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gestLocativeApp.TypeBien.' + biens.type }}">{{ biens.type }}</span>
                </dd>
                <dt><span jhiTranslate="gestLocativeApp.biens.surface">Surface</span></dt>
                <dd>
                    <span>{{ biens.surface }}</span>
                </dd>
                <dt><span jhiTranslate="gestLocativeApp.biens.adresse">Adresse</span></dt>
                <dd>
                    <div *ngIf="biens.adresseId">
                        <a [routerLink]="['/adresse', biens.adresseId, 'view']">{{ biens.adresseId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/biens', biens.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
