<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contrat-heading" jhiTranslate="gestLocativeApp.contrat.home.createOrEditLabel">Create or edit a Contrat</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="d-flex">
                        <input id="field_dateDebut" type="datetime-local" class="form-control" name="dateDebut" formControlName="dateDebut" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.montantLoyerNu" for="field_montantLoyerNu">Montant Loyer Nu</label>
                    <input type="number" class="form-control" name="montantLoyerNu" id="field_montantLoyerNu"
                           formControlName="montantLoyerNu"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.montantCharges" for="field_montantCharges">Montant Charges</label>
                    <input type="number" class="form-control" name="montantCharges" id="field_montantCharges"
                           formControlName="montantCharges"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.periodiciteLoyer" for="field_periodiciteLoyer">Periodicite Loyer</label>
                    <select class="form-control" name="periodiciteLoyer" formControlName="periodiciteLoyer" id="field_periodiciteLoyer">
                        <option value="Mensuel">{{ 'gestLocativeApp.Periode.Mensuel' | translate }}</option>
                        <option value="Annuel">{{ 'gestLocativeApp.Periode.Annuel' | translate }}</option>
                        <option value="Trimestriel">{{ 'gestLocativeApp.Periode.Trimestriel' | translate }}</option>
                        <option value="Semestriel">{{ 'gestLocativeApp.Periode.Semestriel' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.montantDepotGarantie" for="field_montantDepotGarantie">Montant Depot Garantie</label>
                    <input type="number" class="form-control" name="montantDepotGarantie" id="field_montantDepotGarantie"
                           formControlName="montantDepotGarantie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.infosComplementaires" for="field_infosComplementaires">Infos Complementaires</label>
                    <input type="text" class="form-control" name="infosComplementaires" id="field_infosComplementaires"
                           formControlName="infosComplementaires"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.bien" for="field_bien">Bien</label>
                    <select class="form-control" id="field_bien" name="bien" formControlName="bienId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="biensOption.id" *ngFor="let biensOption of biens; trackBy: trackById">{{ biensOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestLocativeApp.contrat.locataire" for="field_locataire">Locataire</label>
                    <select class="form-control" id="field_locataire" name="locataire" formControlName="locataireId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locataireOption.id" *ngFor="let locataireOption of locataires; trackBy: trackById">{{ locataireOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
